@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <img src="img/Scholomance.jpg" style="width:300px;height:250px;">
    <p>"El mejor lugar para aprender la magia de la ciencia."</p>
</div>
